<!DOCTYPE html>
<html lang="en">
<head>
<!-- jQuery !-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<!-- jQuery UI !-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
</head>
<body>
<script>
$(document).on('change', '#ProvinceName',function(e){
    e.preventDefault();
        $.ajax({
            type:'POST',
            url:'{% url "ajaxAPIlocationdistrict" %}',
            data:{
                ProvinceID:$('#ProvinceID').val(),
                ProvinceName:$('#ProvinceName').val(),
                DistrictID:$('#DistrictID').val(),
                DistrictName:$('#DistrictName').val(),
                WardCode:$('#WardCode').val(),
                WardName:$('#WardName').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            data_type : 'html',
            success: function (data) {
                console.log("success");
                $('#DistrictName').html(data.rendered_table);
                $('#WardName').html(data.rendered_table1);
            },
            error: function (data) {
                alert("Xảy ra lỗi, vui lòng kiểm tra lại" + data);
            }
        });
    });
</script>
<script>
$(document).on('change', '#DistrictName',function(e){
    e.preventDefault();
        $.ajax({
            type:'POST',
            url:'{% url "ajaxAPIlocationward" %}',
            data:{
                DistrictID:$('#DistrictID').val(),
                DistrictName:$('#DistrictName').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            data_type : 'html',
            success: function (data) {
                console.log("success");
                $('#WardName').html(data.rendered_table);
            },
            error: function (data) {
                alert("Xảy ra lỗi, vui lòng kiểm tra lại" + data);
            }
        });
    });
</script>

    <label>Tỉnh, Thành Phố:</label><br>
    {% csrf_token %}      
    <select name="ProvinceName" id="ProvinceName" style="width: 100%;height: 40px; padding: 0px 15px;">
        <option value="false">Chọn Tỉnh, Thành Phố</option>
        {% for i in dataAPI_province.data %}
            <option value={{i.ProvinceID}}>{{i.ProvinceName}}</option>
        {% endfor %}    
    </select>
    <label>Quận, Huyện:</label><br>
    {% csrf_token %}
    <select name="DistrictName" id="DistrictName" style="width: 100%;height: 40px; padding: 0px 15px;">
        <option value="false">Chọn Quận, Huyện</option>
        {% comment %} <h6>--Vui lòng chọn---</h6> {% endcomment %}
        {% comment %} {% for i_district in  dataAPI_district.data %}
            <option value={{i_district.DistrictID}}>{{i_district.DistrictName}}</option>
        {% endfor %}     {% endcomment %}
    </select>
    <label>Phường, Xã:</label><br>
    {% csrf_token %}
    <select name="WardName" id="WardName" style="width: 100%;height: 40px; padding: 0px 15px;">
        <option value="false">Chọn Phường, Xã</option>
        {% comment %} {% for i_ward in  dataAPI_ward.data %}
            <option value={{i_ward.WardCode}}>{{i_ward.WardName}}</option>
        {% endfor %} {% endcomment %}
    </select>
	<!-- {% for i in dataAPI_district.data %}
		('{{i.DistrictID}}','{{i.DistrictName}}'),
	{% endfor %} -->
	
</body>
</html>
