{% load static %}
<!-- FOOTER -->
<footer id="footer" class="section section-grey">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- footer widget -->
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="footer">
                    <!-- footer logo -->
                    <div class="footer-logo">
						<a class="logo" href="#"><img src="{% static "" %}myapp/img/logo.png" alt=""></a>
						<p>Công Ty Cổ Phần Bán Lẻ E-SHOP</p>
						<p>Địa chỉ: 131, Man Thiện, Hiệp Phú, TP.Thủ Đức</p>
						<p>Điện thoại: 0929376375. </p>
						<p>Email: nvhungxx98@gmail.com. </p>
						<p>Chịu trách nhiệm nội dung: Văn Hưng.</p>

                    </div>
                    <!-- /footer logo -->

                    
                    <!-- footer social -->
                    <ul class="footer-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                    <!-- /footer social -->
                </div>
            </div>
            <!-- /footer widget -->

            <!-- footer widget -->
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header"></h3>
                    <ul class="list-links">
                        <li><a href="#">Giới thiệu về công ty</a></li>
                        <li><a href="#">Câu hỏi thường gặp mua hàng</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                        <li><a href="#">Quy chế hoạt động</a></li>
						<li><a href="#">Kiểm tra hóa đơn điện tử</a></li>
						<li><a href="#">Tra cứu thông tin bảo hành</a></li>
						<li><a href="#">Tin tuyển dụng</a></li>
						<li><a href="#">Tin khuyến mãi</a></li>
                    </ul>
                </div>
            </div>
            <!-- /footer widget -->

            <div class="clearfix visible-sm visible-xs"></div>

            <!-- footer widget -->
            <div class="col-md-4 col-sm-6 col-xs-6">
                <!-- <div class="footer">
                    <h3 class="footer-header">Customer Service</h3>
                    <ul class="list-links">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Shiping & Return</a></li>
                        <li><a href="#">Shiping Guide</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div> -->
            </div>
            <!-- /footer widget -->

            <!-- footer subscribe -->
            <!-- <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">Stay Connected</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                    <form>
                        <div class="form-group">
                            <input class="input" placeholder="Enter Email Address">
                        </div>
                        <button class="primary-btn">Join Newslatter</button>
                    </form>
                </div>
            </div> -->
            <!-- /footer subscribe -->
        </div>
        <!-- /row -->
        <hr>
        <!-- row -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <!-- footer copyright -->
                <div class="footer-copyright">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
                <!-- /footer copyright -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</footer>
<!-- /FOOTER -->