{% load static %}
{% url 'home' as home_url %}
{% url 'account_information_view' as info_view %}
{% static "home/img/logo.png" as img_logo_url %}
{% static "account/user.png" as img_default %}
{% url 'login' as login_url %}
{% url 'account_register' as register_url %}
{% url 'account_logout' as logout_url %}
	<!-- HEADER -->
	<header>

		<script>
			$(function() {
				$("#query").autocomplete({
					source: "/search_auto/",
					select: function (event, ui) { //item selected
					AutoCompleteSelectHandler(event, ui)
					},
					minLength: 2,
				});
				});

				function AutoCompleteSelectHandler(event, ui)
				{
					var selectedObj = ui.item;
				}
		</script>

		<!-- header -->
		<div id="header" class="mainmenu__area sticky__header">
			<div class="container">
				<div class="pull-left">
					<!-- Logo -->
					<div class="header-logo">
						<a class="logo" href="{{home_url}}">
							<img src="{{ img_logo_url }}" class="img-fluid" />
						</a>
					</div>
					<!-- /Logo -->

					<!-- Search -->
					<div class="header-search">
						<form action="/search/" method="POST">
							{% csrf_token %}
							<input id="query" name="query" class="input search-input" type="text" placeholder="Nhập nội dung cần tìm kiếm">
							<button class="search-btn"><i class="fa fa-search"></i></button>
						</form>
					</div>
					<!-- /Search -->
				</div>
				<div class="pull-right">
					<ul class="header-btns">
						<!-- Account -->
						<li class="header-account dropdown default-dropdown" style="width: 180px;">
							<div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true" style="width: 160px;">
								<!-- {% if request.user.is_authenticated %}
									<div class="header-btns-icon">
										<img src="{{ request.session.userimage }}" style="height: 25px;"/>
									</div>
								{% else %}
									<div class="header-btns-icon">
										<img src="{{ img_default }}" style="height: 25px;"/>
										
									</div>
								{% endif %} -->
								<div class="header-btns-icon">
									<img src="{{ img_default }}" style="height: 25px;"/>
									
								</div>
								<!-- <i class="fa fa-user-o"></i> -->
								<strong class="text-uppercase">Khách hàng </strong>
							</div>
							{% if request.user.is_authenticated %}
									<span href="#" class="text-uppercase">{{ user }}</span>
							{% else %}
								<span class="text-uppercase">Chưa đăng nhập</span>
							{% endif %}

							<ul class="custom-menu">
								
								{% if request.user.is_authenticated %}
									<li><a href="{{ info_view }}"><i class="fa fa-user-o"></i>Tài khoản của tôi </a></li>
									<li><a href="#"><i class="fa fa-heart-o"></i>Sản phẩm yêu thích </a></li>
									<!-- <li><a href="#"><i class="fa fa-check"></i>Thủ tục thanh toán</a></li> -->
									<li class="nav-item {% if request.path == login_url %} active {% endif %}">
										<a href="{{ logout_url }}"><i class="fa fa-unlock-alt"></i>Đăng xuất</a>
									</li>
								{% else %}
									<li class="nav-item {% if request.path == register_url %} active {% endif %}">
										<a href="{{ register_url }}"><i class="fa fa-user-plus"></i>Tạo tài khoản</a>
									</li>
									<li class="nav-item {% if request.path == login_url %} active {% endif %}">
										<a href="{{ login_url }}"><i class="fa fa-unlock-alt"></i>Đăng nhập</a>
									</li>
								{% endif %}
							</ul>
						</li>
						<!-- /Account -->

						<!-- Cart -->
						<li class="header-cart dropdown default-dropdown" style="width: 150px;">
							<a href="/order/">
								{% if request.user.is_authenticated %}
									<div class="header-btns-icon">
										<i class="fa fa-shopping-cart"></i>
										<span class="qty">{{ quantity }}</span>
									</div>
									<strong class="text-uppercase">Giỏ hàng </strong>
									<br>
									<span>{{total}}.000</span>
								{% else %}
									<div class="header-btns-icon">
										<i class="fa fa-shopping-cart"></i>
										<span class="qty">0</span>
									</div>
									<strong class="text-uppercase">Giỏ hàng </strong>
									<br>
									<span>0</span>
								{% endif %}
							</a>
						</li>
						<!-- /Cart -->

						<!-- Mobile nav toggle-->
						<li class="nav-toggle">
							<button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
						</li>
						<!-- / Mobile nav toggle -->
					</ul>
				</div>
			</div>
			<!-- header -->
		</div>
		<!-- container -->
	</header>
	<!-- /HEADER -->
