{% load static %}
{% url 'home_page' as home_url %}
{% url 'contact' as contact_url %}
{% url 'about' as about_url %}

<!-- NAVIGATION -->
<div id="navigation">
	<!-- container -->
	<div class="container">
		<div id="responsive-nav">
			<!-- menu nav -->
			<div class="menu-nav">
				<span class="menu-header">Menu <i class="fa fa-bars"></i></span>
				{% load mptt_tags %}
				<ul class="menu-list" style="display: table;margin: 0 auto;">
					{% recursetree category %}
						<li class="dropdown dropdown-toggle">
							{% if node.status != 'FALSE' %}
								<!-- ĐÚNG -->
								<a href="/product/category/{{ node.id }}/{{ node.slug }}" class="dropdown-toggle" {% if not node.is_leaf_node %} data-toggle="dropdown" aria-expanded="false" {% endif %}>{{ node.title }}</a>							
								<div class="custom-menu">			
									<div class="row">		
										<div class="col-md-6">
											{% if not node.is_leaf_node %}
											<ul class="list-links">
												<li>
													<h3 class="list-links-title">Dòng sản phẩm</h3></li>
													<a href="#">{{ children }}</a></li><hr>
													<a href="/category/{{ node.id }}/{{node.title}}" style="text-transform: uppercase;">XEM TẤT CẢ {{node.title}}</a></li>
												<li>
											</ul>
											{% endif %}
											<hr class="hidden-md hidden-lg">
										</div>
										<div class="col-md-6">
											<ul class="list-links">
												<li>
													<h3 class="list-links-title">Mức giá</h3></li>
													<a href="#" >Dưới 2 triệu</a></li><br>
													<a href="#">Từ 2 - 4 triệu</a></li><br>
													<a href="#">Từ 4 - 7 triệu</a></li><br>
													<a href="#">Từ 7 - 13 triệu</a></li><br>
													<a href="#">Trên 13 triệu</a></li><br>																							
												<li>
											</ul>
											<hr class="hidden-md hidden-lg">
										</div>
										
									</div>
									

								</div>						
								
							{% elif node.status == 'FALSE' %}
								<!-- SAI -->
								<a href="/{{ node.slug }}" class="dropdown-toggle">{{ node.title }}</a>							
							{% endif %}	
								
						</li>	
					{% endrecursetree %}
					
				</ul>
			</div>
			<!-- menu nav -->
		</div>
	</div>
	<!-- /container -->
</div>
<!-- /NAVIGATION -->