<input type="hidden" name="size" id="size" value="{{ size_id }}">
<ul class="color-option" >
    <!-- <li><span class="">Chọn màu: </span></li> -->
	{% for rs in colors %}
	<li class="" style="">
		<img src="{{ rs.image }}" style="height: 70px">
		</br>
		<span style="margin: auto; width: 80%;	padding: 45px;">
			<input type="radio" {% if variant.id == rs.id %} checked {% endif %} name="variantid" id="variantid" value="{{ rs.id }}" onchange="this.form.submit();">
		</span>
		<br><p style="text-align: center;">{{ rs.color }}</p>
		</br>
	</li>
    {% endfor %}
</ul>
