<input type="hidden" name="size" id="size" value="{{ size_id }}">
<ul class="color-option" >
    <li><span class="">Chọn màu: </span></li>
    {% for rs in colors %}
        <input type="radio" name="variantid" id="variantid" value="{{ rs.id }}" onchange="this.form.submit();">
        <!-- <li >
			<span>{{ rs.color }}</br>Giá: <p>{{ rs.price }}.000 VND</p></span>
            <img src="{{ rs.image }}" style="height: 70px">
        </li> -->
		<li>
			<span>{{ rs.color }}</br> </span>
		</br>
            <img src="{{ rs.image }}" style="height: 70px">
		</br>
		Giá: {{ rs.price }}.000 VND
		</li>
		
    {% endfor %}
</ul>
