<table class="table table-bordered table-striped" style="border-collapse: collapse;" id="SmartphoneCompare">
                                             
    <tbody>
        <tr class="table table-bordered table-striped">
            <th scope="col">Màn hình</th>
            
        </tr>
        <tr>
  
            <td style="border-left:1px solid #ddd; border-right:1px solid #ddd; width: 100%">
            {{ compare_result.screen | safe }}</td>

        </tr>
        <tr class="table-bordered">
            <th scope="col" style="font-size: 16px; width: 5%;">Camera sau</th>                                              
        </tr>
        <tr>
         
            <td style="border-left:1px solid #ddd; border-right:1px solid #ddd; width: 100%">
            {{ compare_result.backcam | safe }}</td>                                               
        </tr>
        <tr class="table-bordered">
            <th scope="col" style="font-size: 16px; width: 13%;">Camera trước</th>
        </tr>
     
        <tr>
   
            <td style="border-left:1px solid #ddd; border-right:1px solid #ddd; width: 100%">
            {{ compare_result.frontcam | safe }}</td>                                               
        </tr>
       
        <tr class="table-bordered">
            <th scope="col" style="font-size: 16px; width: 13%;">Chip & CPU</th>
        </tr>
        <tr>
          
            <td style="border-left:1px solid #ddd; border-right:1px solid #ddd; width: 100%">
            {{ compare_result.cpu | safe }}</td>                                               
        </tr>
        <tr class="table-bordered">
           <th scope="col" style="font-size: 16px; width: 16%;">Lưu trữ & thẻ nhớ</th>                                               
        </tr>
        <tr>
        
            <td style="border-left:1px solid #ddd; border-right:1px solid #ddd; width: 100%">
            {{ compare_result.memory | safe }}</td>                                               
        </tr>
        <tr class="table-bordered">
            <th scope="col" style="font-size: 16px">Kết nối</th>         
        </tr>
        <tr>
      
            <td style="border-left:1px solid #ddd; border-right:1px solid #ddd; width: 100%">
            {{ compare_result.connection | safe }}</td>                                    
        </tr>
        <tr class="table-bordered">
            <th scope="col" style="font-size: 16px">Pin & sạc</th>                                               
        </tr>
        <tr>
       
            <td style="border-left:1px solid #ddd; border-right:1px solid #ddd; width: 100%">
            {{ compare_result.battery | safe }}</td>                                               
        </tr>
        <tr class="table-bordered">
            <th scope="col" style="font-size: 16px">Tiện ích</th>                                                
        </tr>
        <tr>
          
            <td style="border-left:1px solid #ddd; border-right:1px solid #ddd; width: 100%">
            {{ compare_result.utils | safe }}</td>
            
        </tr>
        <tr class="table-bordered">
            <th scope="col" style="font-size: 16px; width: 15%;">Thông tin chung</th>                                                
        </tr>
        <tr>

            <td style="border-left:1px solid #ddd; border-right:1px solid #ddd; width: 100%">
            {{ compare_result.general | safe }}</td>
        </tr>
    </tbody>
    
</table>
<a href="/product/{{ product_id }}/{{ product_slug }}" class="primary-btn add-to-cart"></i>CHI TIẾT</a>
