{% extends "vnpay_python/base_layout.html" %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">Your cart</div>
        <div class="table-responsive">
            <ul class="list-group">
                <i class="list-group-item"><a href="{% url "payment" %}?price=10000">Item 1</a> - 10000 VND</i>
                <i class="list-group-item"><a href="{% url "payment" %}?price=20000">Item 2</a> - 20000 VND</i>
                <i class="list-group-item"><a href="{% url "payment" %}?price=30000">Item 3</a> - 30000 VND</i>
            </ul>
        </div>
    </div>
{% endblock %}
