<script>
	// Configs
	let liveChatBaseUrl   = document.location.protocol + '//' + 'livechat.fpt.ai/v36/src'
	let LiveChatSocketUrl = 'livechat.fpt.ai:443'
	let FptAppCode        = 'ed41958c5bc49d4d467ee5845b74dfb8'
	let FptAppName        = 'Live support'
	// Define custom styles
	let CustomStyles = {
		// header
		headerBackground: '#3C3737FF',
		headerTextColor: '#ffffffff',
		headerLogoEnable: true,
		headerLogoLink: 'https://chatbot-tools.fpt.ai/livechat-builder/img/theme/digital_agency/logo_head.svg',
		headerText: 'Live support',
		// main
		primaryColor: '#FFAC00FF',
		secondaryColor: '#ecececff',
		primaryTextColor: '#ffffffff',
		secondaryTextColor: '#000000DE',
		buttonColor: '#000000B3',
		buttonTextColor: '#ffffffff',
		bodyBackgroundEnable: true,
		bodyBackgroundLink: 'https://chatbot-tools.fpt.ai/livechat-builder/img/theme/digital_agency/body.png',
		avatarBot: 'https://chatbot-tools.fpt.ai/livechat-builder/img/theme/digital_agency/bot.svg',
		sendMessagePlaceholder: 'Enter your message here',
		// float button
		floatButtonLogo: 'https://chatbot-tools.fpt.ai/livechat-builder/img/theme/digital_agency/logo.svg',
		floatButtonTooltip: 'Chat với MobileHub',
		floatButtonTooltipEnable: true,
		// start screen
		customerLogo: 'https://chatbot-tools.fpt.ai/livechat-builder/img/theme/digital_agency/logo.svg',
		customerWelcomeText: 'Hãy điền tên bạn vào đây',
		customerButtonText: 'Bắt đầu chat',
		prefixEnable: false,
		prefixType: 'radio',
		prefixOptions: ["Anh","Chị"],
		prefixPlaceholder: 'Danh xưng',
		// custom css
		css: ''
	}
	// Get bot code from url if FptAppCode is empty
	if (!FptAppCode) {
		let appCodeFromHash = window.location.hash.substr(1)
		if (appCodeFromHash.length === 32) {
			FptAppCode = appCodeFromHash
		}
	}
	// Set Configs
	let FptLiveChatConfigs = {
		appName: FptAppName,
		appCode: FptAppCode,
		themes : '',
		styles : CustomStyles
	}
	// Append Script
	let FptLiveChatScript  = document.createElement('script')
	FptLiveChatScript.id   = 'fpt_ai_livechat_script'
	FptLiveChatScript.src  = liveChatBaseUrl + '/static/fptai-livechat.js'
	document.body.appendChild(FptLiveChatScript)
	// Append Stylesheet
	let FptLiveChatStyles  = document.createElement('link')
	FptLiveChatStyles.id   = 'fpt_ai_livechat_script'
	FptLiveChatStyles.rel  = 'stylesheet'
	FptLiveChatStyles.href = liveChatBaseUrl + '/static/fptai-livechat.css'
	document.body.appendChild(FptLiveChatStyles)
	// Init
	FptLiveChatScript.onload = function () {
		fpt_ai_render_chatbox(FptLiveChatConfigs, liveChatBaseUrl, LiveChatSocketUrl)
	}
	</script>